body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
  /* margin-right: 10px; */
}

.product-images {
  width: 80%;
  
}

.text-deco {
  color: rgba(210, 105, 30, 0.54);
  margin-right: 5px;
}

.product-info {
  width: 35%;
  align-self: flex-start;
  position: relative;
  /* margin-right: 25px; */
}

.cancel-button {
  position: absolute;
  top: 2.4%;
  right: 0;
  font-size: 3rem;
  font-weight: 100;
  color: rgba(56, 56, 55, 0.332);
  
}

#product-popup-sm{
    color: white;

}
.product-image {
  width: 92%;
  height: 73vh;
  margin-bottom: 20px;
}
.product-image-sm {
  width: 13.2rem;
  height: 15.4vh;
  padding: 5px;
/* border: 1px solid rgba(210, 105, 30, 0.186); */
  cursor: pointer;
  margin: 0 10px 0px 0;
  object-fit:cover;
  border: 2px solid chocolate;
  animation: borderAnimation 4s  infinite;
}
@keyframes borderAnimation {
  0% {
    border-style: dotted;
  }
  50% {
    border-style: dashed;
  }
  100% {
    border-style: dotted;
  }
}
.product-image-s{
  width: 13.2rem;
  height: 15.4vh;
  padding: 5px;
border: 1px solid rgba(210, 105, 30, 0.186);
  cursor: pointer;
  margin: 0 10px 0px 0;
  object-fit:cover;

}


.product-description {
  font-size: 16px;
  height: auto;
}

.product-info button {
  width: 100%;
  height: 4rem;
  background-color: rgb(230, 23, 23);
  color: beige;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 2rem;
  font-size: 30px;
  letter-spacing: 2px;
}
.dash {
  color: rgb(247, 121, 75);
}

@media (max-width: 600px) {
  body {
    font-size: 15px;
    padding: 5px;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  
.product-image{
  width: 100%;
}
  .product-image-sm , .product-image-s {
    width: 44.1%;
  }

  .product-images {
    width: 100%;
    /* margin-right: 15px; */
  }

  #product-popup-lg {
    display: none;
  }
  #product-popup-sm {
    margin:10px 40px;
    font-size: 60px;
    color: rgba(172, 168, 168, 0.722);
  }

 

  .product-info {
    width: 100%;
    margin-left: 1px;
    padding: 5px;
    overflow: hidden;
  }
}
