* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.header {
  width: 100%;
}

.image-container {
  position: relative;
  text-align: center;
}

.image {
  width: 100%;
  height: 79vh;
  object-fit: fill; /* Use object-fit to cover the container */
}
.image-text-top {
  background-color: rgba(62, 62, 59, 0.449);
  position: absolute;
  width: 100%;
  text-align: start;
}
.image-text-top p {
  font-size: 2.3rem;
  font-family: "Sedgwick Ave Display", cursive;
  letter-spacing: 1px;
  text-indent: 5rem;
  color: white;

  padding: 10px;
}
.image-text {
  color: aliceblue;
  position: absolute;
  top: 40%;
  left: 9%;

  padding: 10px;
  width: 100%;
  text-align: left;
}

.image-text p {
  font-size: 3rem;
  margin: 0;
  font-weight: 700;
}

.header button {
  position: absolute;
  top: 70%;
  left: 9.5%;
  width: 15%;
  height: 11%;
  cursor: pointer;

  border: none;
  font-size: 1.3rem;
  font-weight: 800;

  color: #f00c0c;
  transition: transform 1s;
}

main {
  background-color: #fff;
  padding: 20px;
}

.container {
  padding: 20px;

  margin: 20px 20px;
}

.container h2 {
  font-size: 43px;
  /* margin-bottom: px; */
  text-align: center;
}

.about-text {
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  color: #ef824be8;
  /* margin: 5px; */
}

.about-line {
  flex: 1;
  border-top: 5px solid #ef824be8;
  margin: 30px 50px;
}

.container p {
  font-size: 18px;
  line-height: 2.5;

  overflow: hidden;
  text-align: center;
  letter-spacing: 0.2px;
  max-width: 900px;
  margin: 0 auto;
}

.product {
  display: flex;

  padding: 20px;
  flex-direction: column;
  margin: 20px;
}
.product h2 {
  margin: 20px 0;
  font-size: 40px;
}

.product-container {
  display: flex;
  overflow: hidden;
  margin: 0 30px 40px 0;
  align-items: center;
  justify-content: center;
}
.product-card {
  display: flex;
  flex-direction: column;
  
  width: 55%;
  padding: 10px;
  margin: 0 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  
}


.product img {
  width: 100%;
  height: 500px;
  object-fit:fill;
  border-radius: 5px;
}

.product-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 20px; */
  margin: 18px 0 0 0;
  align-items: center;
}

.product-info h3 {
  font-size:22px;
  /* margin: 2px; */
  
}

.product-info button {
  background-color: #f00c0c;
  color: #fff;
  border: none;
  font-size: 25px;
  height: 50px;
  width: 200px;
overflow: hidden;
  /* padding: 5px 10px; */
  border-radius: 2px;
  cursor: pointer;
}

footer {
  background-color: #338d6a;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  border-top: 8px solid rgb(244, 244, 68);
  border-bottom: 8px solid rgb(244, 244, 68);
}

footer div:first-child {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: rgb(244, 244, 68);
}

footer div:last-child {
  font-size: 24px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons a {
  text-decoration: none;
  color: #338d6a;
  margin: 0 10px;
  font-size: 25px;
  padding: 7px;
  background-color: #151414;
  border-radius: 100% ;
  width: 50px;
  
 
  
}



@keyframes fireAnimation {
  0% {
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000;
  }
  25% {
    color: #ff9900;
    text-shadow: 0 0 20px #ff9900;
  }
  50% {
    color: #ffcc00;
    text-shadow: 0 0 30px #ffcc00;
  }
  75% {
    color: #ff6600;
    text-shadow: 0 0 20px #ff6600;
  }
  100% {
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000;
  }
}

/* Mobile Styles */
@media (max-width: 600px) {
  body {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
  }

  .header img {
    height: 60vh;
  }

  .image-text p {
    margin-top: 10px;
    font-size: 30px;
    height: 50px;
    /* top: 100%; */
    text-wrap: wrap;
  }

  .text-center button {
    top: 80%;
    font-size: 20px;

    width: 78%;
  }

  .container {
    margin: 5px;
  }
  .product-container {
    display: flex;
    padding: 0;
    flex-direction: column;
    width: 100%;
  }
  .about-text {
    text-wrap: wrap;
    font-size: 5px;
  }
  .about-line{
    margin: 5px;
  }
  .product h2{
    font-size: 22px;
  }
  .product h2 div{
    margin: 8px;
  }
  .product-card {
    margin-bottom: 20px;
    width: 100%;
  }

  .product-info h3 {
    font-size: 15px;
  }
  footer{
    height: 15vh;
  }
  
  .footer-icons a{
    font-size:15px;
    width: 9%;
  }
}
